.footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.1rem 0.5rem;
    color: #fff;
    position: absolute;
    left: 5px;
    bottom: 2px;
    right: 0;
  }

  .footer .feedback-btn {
    color: #fff;
    background-color: #27276d;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 175px;
    font-size: large;
    letter-spacing: 0.2em;
    justify-self: right;
  }

  .footer .feedback-btn:hover {
    color: #fff;
    background-color: #f75971;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 175px;
    padding: 3px 6px;
    font-size: large;
    letter-spacing: 0.2em;
    justify-self: right;
    cursor: pointer;
    box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }