.browse {
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.browse p {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
}

